.mehsulXidmet{
    display: flex;
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.mehsulXidmet img{
    width: 640px;
}
.mehsulXidmet_left{
display: flex;
justify-content: center;
align-items: end;
padding-bottom: 80px;
}
.mehsulXidmet_right{
    width: 50%;
    display: flex;
    justify-content: end;
}
.mehsulXidmet_left_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}
.mehsulXidmet_left span{
    width: max-content;
    font-weight:700;
padding: 10px 20px;
border-radius: 50px;
background-color: rgba(54, 76, 185, 0.235);
color: rgb(53, 22, 176);
}
@media only screen and (max-width: 1200px) {
    .mehsulXidmet{
      flex-direction: column;
    }
    .mehsulXidmet_right {
        width: 100%;
    }
  }