nav img {
    width: 120px;
}
.navbar {
    width: 100%;
    position: fixed;
    z-index: 20000;
    margin-top: 1px;
}
nav {
    width: 86%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    padding: 16px 20px;
    border-radius: 6px;
    z-index: 2000;
    box-shadow: 5px 5px 5px 5px solid lightgray;
}
nav span{
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: large;

}
nav span:nth-of-type(1){
    border: 2px solid rgba(133, 75, 133, 0.23);
    color: black !important;
}
nav span:nth-of-type(2){
    background: rgb(86,122,177);
    background: linear-gradient(90deg, rgba(148, 86, 177, 0.614) 0%, rgba(221, 95, 250, 0.832) 100%, rgba(177, 60, 250, 0.466) 100%);
    padding: 10px 20px;
    border-radius: 6px;
    font-size: large;
    border: 1px solid none;
}
nav span:nth-of-type(1) a{
    color: black;
}
nav span:nth-of-type(2) a{
    color: white;
}
nav ul:first-of-type {
    display: flex;
    gap: 26px;
    align-items: center;
}
nav div:last-of-type {
    display: flex;
    gap: 20px;
    align-items: center;
}
@media only screen and (max-width: 1002px) {
  nav div:nth-of-type(2){
    display: none !important;
  }
}
@media only screen and (max-width: 468px) {
    nav ul{
        gap: 10px !important;
    }
    nav a{
      font-size: 14px !important;
    }
  }
  @media only screen and (max-width: 378px) {
    nav ul{
        gap: 6px !important;
        flex-direction: column;
    }
    nav a{
      font-size: 12px !important;
    }
  }