.bexshish {
  display: flex;
  overflow: hidden;
  position: relative;
}
.bexshish_left img {
  width: 630px;
}
.bexshish_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bexshish_right_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  width: 54%;
}
.bexshish_right_content button{
width: max-content;
padding: 10px 16px;
}
.bexshish_right_content img{
    width: 100%;
  }
.bexshish_right_content p {
  line-height: 28px;
  font-size: 20px;
}
.bexshish_right_content span{
  width: max-content;
  font-weight:700;
padding: 10px 20px;
border-radius: 50px;
background-color: rgba(54, 76, 185, 0.235);
color: rgb(53, 22, 176);
}
@media only screen and (max-width: 1200px) {
  .bexshish{
    flex-direction: column;
  }
}